<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">  
    <title>Xrystofor</title>
    <meta content="width=device-width,maximum-scale=1.0,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes,shrink-to-fit=no" name="viewport"/>
</head>
<body> 
    <div id="wrapper">
        <div class="product__hold">
            <template id="product">
                <div class="product">
                    <div class="item">
                        <div class="item__content">
                            <div class="row">
                                <div class="item__company"></div>
                                <div class="item__location"></div>
                            </div>
                            <div class="item__visual">
                                <h1></h1>
                                <div class="item__image">
                                    <img src="" width="100%" height="auto" alt="">
                                </div>
                            </div>
                            <div class="item__type"></div>
                        </div>
                        <div class="item__description">
                            <div class="row row--middle">
                                <div class="item__price"></div>
                                <div class="item__information"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</body>
</html>
