@keyframes pulse {
    to {box-shadow: 0 0 0 25px rgba(176, 52, 52, 0);}
}

@keyframes hide {
    0% {
        transform: scale(1);  
    }

    85% {
        transform: scale(0);
    }

    95% {
        transform: scale(0.1);
        overflow: hidden;
    }
    
    100% {
        transform: scale(0); 
    }
}
