.input {
    position: relative;
    flex: 1;
    display: flex;
    min-width: 260px;
    background: $light-color;
    margin: $space-xsmall;

    &__field {
        position: relative;
        padding: $space-small;
        border: none;
        border-radius: 0;
        color: $base-text-color;
        -webkit-appearance: none;
        padding: $space-small #{$input-icon-size*2 + $space-small} $space-small $space-small;
        width: 100%;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: $input-icon-size*2;
        height: 100%;
        color: $brand-color2;
        background-color: $light-grey-color;
        cursor: pointer;
        font-size: $input-icon-size;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        user-select: none;
    }
}
