.product {
  margin: 0 $space-small $space-small*2; 
  max-width: 320px;
  min-height: 240px;
  width: 100%;
  position: relative;

  @include media('>=tablet') {
    max-width: none;
    width: calc(50% - #{$space-small*2});
  }

  &--blur {
    filter: blur(3px);
    animation: shake cubic-bezier(.36,.07,.19,.97) 0.82s infinite alternate;
  }

  &--active {
    position: absolute;
    pointer-events: none;
    z-index: 5;
    top: 50%;
    left: 50%;
  }

  &--clone {
    background: $grey-color;
    filter: blur(1px);
    margin: 0 $space-small $space-small*2; 
  }

  &__hold {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 #{-$space-small};
    position: relative;

    @include media('>=tablet') {
      justify-content: flex-start;
    }
  }

  .item {
    height: 100%;
  }

  &.hide {
    animation: hide 3s forwards cubic-bezier(0.66, 0, 0, 1);
  }
}

.item {
  background: $brand-color2;
  border: $border-width solid $brand-color1;
  color: $light-color;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  &__content {
    flex: 1 1 auto;
    max-width: 100%;
  }

  &__location {
    font-weight: $font-weight-bold;
  }

  &__visual {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: $space-large $space-small;

    h1 {
      margin: 0 $space-xsmall;
    }
  }

  &__image {
    max-width: 60%;
    margin: 0 $space-xsmall;
  }

  &__type{
    text-align: center;
    padding: 0 $space-small $space-base;
  }

  &__description {
    border-top: $border-width solid $brand-color1;
    flex: 0 1 auto;
    max-width: 100%;
  }

  &__price,
  &__information {
    max-width: 50%;
    flex-basis: 50%;

    .overlay & {
      max-width: 100%;
      flex-basis: 100%;

      @include media('>=tablet') {
        max-width: 50%;
        flex-basis: 50%;
      }
    }

    p{
      margin: $space-small 0;
    }
  }

  &__price {
    font-size: $font-size-xxlarge;
  }

  &__priceList,
  &__informationList {
    p {
      position: relative;
      padding-right: $space-xlarge;
    }
  }

  &__delete {
    position: absolute;
    right: calc(#{$space-xsmall} + #{$border-width-small});
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
    color: $light-color;
    background: none;
    padding: $space-xsmall;
    border: $border-width-small solid $light-color;
  }
}
